@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,300..700;1,300..700&display=swap');

:root {
    --fondo-1: #f0f0f0;
    --fondo-2: #f5f0f0;
    --color-primario: #40230f;
    --color-secundario: #6a5937;
    --color-terciario: #b97728;
    --color-contorno: #acacac;
    --color-links: #757575;
    --fuente-titulos: 'Inria-serif', serif;
    --fuente-eslogan: 'Ankatoria', serif;
    --fuente-neutra: 'Open-sans', sans-serif;
    --fuente-texto: 'Open-sans', sans-serif;
    --fuente-logo: 'Cormorant Infant', serif;
}

@font-face {
    font-family: 'Ankatoria';
    src: url('../fonts/ankatoria.woff2') format('woff2'),
        url('../fonts/ankatoria.woff') format('woff'),
        url('../fonts/Anaktoria.otf') format('opentype'),
        url('../fonts/Anaktoria.otf') format('truetype');

}

html,
body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ...existing code...

.container-fluid {
    padding-left: 0 !important;
    padding-right: 0 !important;
} */

/* ...existing code... */

body {
    background-color: var(--fondo-1);
    color: var(--color-primario);
    font-family: var(--fuente-texto);
    margin: 0;
    padding: 0;
}

header {
    background-color: white;
    color: black;
    font-family: var(--fuente-neutra);
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    font-weight: bold;
}

/* ...Barra de navegacion... */


.navbar-inicio {
    background-color: white;
    /* padding: 5px; */
    height: 55px;
    border-color: #757575;
    border-style: solid;
    border-width: 1.8px;
    align-items: center;
    align-content: center;
    display: flex;
    justify-content: space-between;
}

.navbar-logo {
    align-items: center;
    align-content: center;
    height: 100%;
    transition: 0.4s;
    a{
        text-decoration: none;
        display: flex;
        color: black;
        align-items: center;
        gap: 18px;
        margin-right: 15px;
    }
}

.navbar-logo:hover{
    background-color: #e6e6e6;
}

.navbar-logo a img {
    height: 40px;
    width: auto;
    margin-left: 15px;
    
}

.navbar-menu {
    display: flex;
    align-items: space-around;
    margin: 0;
    height: 100%;
    align-items: center;

}

.navbar-menu li {
    list-style: none;
    text-decoration: none;
    color: black;
    padding: 0 25px;
    width: 100%;
    height: 100%;
    min-width: fit-content;
    display: inline;
    align-content: center;
    transition: 0.35s;
}

.navbar-menu li:hover {

    color: rgb(66, 66, 66);
    background-color: #dadada;

}

.navbar-menu li:last-child:hover {
    background-color: white;
}

.navbar-menu li a {
    text-decoration: none;
    color: black;
    ;
}

.navbar-menu li button {
    background-color: white;
    border-color: transparent;
    transition: 0.4s;

    i {
        font-size: 23px;
        color: black;
    }
}

.navbar-menu li button i:hover {
    text-decoration: none;
    color: rgb(103, 103, 103);
}

.link-menu {
    text-decoration: none;
    color: black;
    font-weight: normal;
    font-size: 18px;
    font-family: var(--fuente-neutra);
}

.tipografia-logo {
    font-family: var(--fuente-logo);
    font-size: 30px;
    font-weight: bold;
    color: var(--color-primario);
}

.titulo {
    font-family: var(--fuente-titulos);
    font-size: 30px;
    color: var(--color-primario);
}

.subtitulo {
    font-family: var(--fuente-titulos);
    font-size: 15px;
    color: var(--color-secundario);
}

.eslogan {
    font-family: var(--fuente-eslogan);
    font-size: 15px;
    color: var(--color-terciario);
}

.texto {
    font-family: var(--fuente-texto);
    font-size: 10px;
    color: var(--color-links);
}