<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Prueba 1</title>
    <link rel="stylesheet" href="/sublimacion-project/public/css/main.css" />
</head>

<body>
    <header>
        <h1>Welcome to the Prueba Page</h1>
    </header>
    <main>
        <p>This is a sample page for testing purposes.</p>
        <p>Feel free to modify this content as needed.</p>
    </main>
    <footer>
        <p>&copy; 2023 Your Company</p>
    </footer>
    <script src="/static/js/scripts.js"></script>
</body>

</html>